<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Login</h2>
      </div>
      <div class="card-body">
        <form (ngSubmit)="login()">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
          </div>
          <button type="submit" class="btn btn-warning">Login</button>
          <button type="button" class="btn btn-success ms-2" (click)="register()">Register</button> 
        </form>
      </div>
    </div>
  </div>
  